/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include "combos.dtsi"
#include "onec_hotkeys.h"

#define _ &kp

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
bp_set          dbg_end        dbg_reset       dbg_start
dbg_step_goto   dbg_step_out   dbg_step_into   dbg_step_over
                               &mo 1           &mo 2
            >;
        };

        lower_layer {
            label = "lower";
            bindings = <
follow_symbol   follow_bwd   follow_fwd  cntx_help
_ LEFT          _ DOWN       _ UP        _ RIGHT
                             &trans      &mo 3
            >;
        };

        raise_layer {
            label = "raise";
            bindings = <
cfg_apply   wnd_cfg    run_nodbg   dbg_eval_view
bp_list     wnd_vars   wnd_stack   dbg_eval
                       &mo 3       &trans
            >;
        };

        adjust_layer {
            label = "adjust";
            bindings = <
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &none
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                                               &none         &none
            >;
        };
    };
};
