/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define _ &kp

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "default";
            bindings = <
_ LS(F10)   _ LS(F11)   _ F11         _ F10
_ F9        _ LS(F5)    _ LC(LS(F5))  _ F5
                        &mo 1         &mo 2
            >;
        };

        lower_layer {
            label = "lower";
            bindings = <
_ F12  _ LC(MINUS)  _ LC(LS(MINUS))  _ LC(F1)
&none  &none  &none  &none
                     &trans  &mo 3
            >;
        };

        raise_layer {
            label = "raise";
            bindings = <
_ F7      _ LC(LS(C))   &none        _ LC(F5)
_ LA(F9)  _ LC(LA(W))   _ LC(LA(C))  _ LS(F9)
                        &mo 3        &trans
            >;
        };

        adjust_layer {
            label = "adjust";
            bindings = <
&bootloader  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &none
&bt BT_CLR   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2
                                               &none         &none
            >;
        };
    };
};
